<footer class="bg-dark">
  <div class="container pt-lg-5 pb-lg-5 pt-4 pb-4 text-white">
    <div class="row px-3 px-sm-0">
      <div class="col-md-3 mt-3 mb-3"><h4>About Us</h4>
        <div class="footer-links"><a href="#">Contact Us</a>
          <a href="#">FAQ</a>
          <a routerlink="/about-us" ng-reflect-router-link="/about-us" href="#/about-us">Why Goonee?</a>
        </div>
      </div>
      <div class="col-md-3 mt-3 mb-3"><h4>Community</h4>
        <div class="footer-links"><a href="#">Blog</a>
          <a href="#">Community Guidelines</a><a href="#">User Safety</a>
          <a href="#">Non - Descrimination Policy</a>
        </div>
      </div>
      <div class="col-md-3 mt-3 mb-3"><h4>Legal</h4>
        <div class="footer-links">
          <a  href="#">Privacy Policy</a>
          <a href="#">Service Terms</a>
          <a href="#">Payment Terms</a>
          <a href="#">Independent Tutor Agreement</a>
        </div>
      </div>
      <div class="col-md-3 mt-3 mb-3">
        <div class="d-flex flex-wrap">
          <a href="#"><img src="images/goonee-ios-store-icon.svg" alt="goonee-ios-store" class="mw-100 mb-2 me-2"></a>
          <a href="#"><img src="images/goonee-android-store-icon.svg" alt="goonee-android-store" class="mw-100 mb-2 me-2"></a>
        </div>
        <div class="follow-us d-flex mt-3"><h6 class="mb-0">Follow Us</h6>
          <div class="ms-3">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright bg-white pt-3 pb-3 text-center">
    <div class="container">
      <p class="mb-0"><b class="fw-bold">Goonee Live</b> © 2021 All Rights Reserved | Designed &amp; Developed by huptech web pvt.ltd </p>
    </div>
  </div>
</footer>
