header .head-top {
  background-color: #000;
  padding: 0.5rem 0;
}
header .head-top .follow-us a {
  color: #fff;
}
header .head-top p {
  font-weight: 300;
  margin-bottom: 0;
}
header .head-top .top-link a {
  margin-left: 1.2rem;
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  font-weight: 700;
}
header .head-top .top-link a:hover {
  color: #6C60E1;
}
@media (max-width: 575.98px) {
  header .head-top {
    background-color: #495057;
    padding: 0 0 0.5rem;
  }
  header .head-top .container {
    padding: 0;
  }
  header .head-top .container .follow-us {
    order: 1;
    margin-left: 1rem;
  }
  header .head-top .container .follow-us h6, header .head-top .container .follow-us .h6 {
    display: none;
  }
  header .head-top .container p {
    order: 0;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    flex-basis: 100%;
    text-align: center;
    background-color: #000;
    font-size: 0.85rem;
  }
  header .head-top .container .top-link {
    order: 2;
  }
  header .head-top .container .top-link a {
    font-size: 0.85rem;
    margin: 0 0.5rem;
  }
}
header .navbar {
  position: absolute;
  z-index: 999;
  width: 100%;
}
@media (max-width: 991.98px) {
  header .navbar {
    position: relative;
  }
}
header .navbar .navbar-nav .nav-item {
  margin-left: 1rem;
}
header .navbar .navbar-nav .nav-item .nav-link {
  color: #000;
  font-weight: 700;
  font-size: 1rem;
  position: relative;
}
header .navbar .navbar-nav .nav-item .nav-link::after {
  content: "";
  position: absolute;
  height: 2px;
  display: block;
  bottom: 0;
  background-color: #6C60E1;
  right: 100%;
  left: 0.5rem;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
header .navbar .navbar-nav .nav-item .nav-link:hover {
  color: #6C60E1;
}
header .navbar .navbar-nav .nav-item .nav-link:hover::after {
  opacity: 1;
  right: 0.5rem;
}
@media (max-width: 767.98px) {
  header .navbar .navbar-nav {
    flex-direction: row;
  }
}
@media (max-width: 575.98px) {
  header .navbar .navbar-brand {
    order: 1;
    margin: 0 auto;
  }
}
header.sticky .navbar {
  position: fixed;
  top: 0;
  background-color: #fff;
  width: 100%;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}
header.sticky .side-navbar {
  top: 80px;
  max-height: 88vh;
}
.navToggle {
  margin-left: 1.5rem;
}
.navToggle .close {
  display: none;
}
.navToggle[aria-expanded=true] svg {
  display: none;
}
.navToggle[aria-expanded=true] .close {
  display: inline-block;
}
@media (max-width: 575.98px) {
  .navToggle {
    order: 0;
    margin-left: 0;
  }
}
.side-navbar {
  background-color: rgba(0, 0, 0, 0.8);
  border-top-left-radius: 1rem;
  position: fixed;
  right: -280px;
  top: 115px;
  z-index: 9999;
  color: #fff;
  max-height: 82vh;
  transition: all 0.5s ease-in-out;
  width: 275px;
  overflow: auto;
  display: block;
}
.side-navbar.show {
  right: 0;
}
@media (max-width: 575.98px) {
  .side-navbar {
    top: 140px;
    left: 0;
    right: auto;
    border-top-left-radius: 0;
    border-top-right-radius: 1rem;
  }
}
.side-navbar .side-nav-links h6, .side-navbar .side-nav-links .h6 {
  font-weight: 700;
  display: table;
  margin-top: 1.2rem;
}
.side-navbar .side-nav-links h6::after, .side-navbar .side-nav-links .h6::after {
  content: "";
  height: 0.1rem;
  width: 100%;
  display: block;
  background-color: #fff;
  margin-top: 0.3rem;
}
.side-navbar .side-nav-links a {
  color: #fff;
  display: table;
  margin: 0.4rem 0;
  text-decoration: none;
  font-weight: 300;
  transition: all 0.5s ease-in-out;
}
.side-navbar .side-nav-links a:hover {
  color: #6C60E1;
}
.side-navbar .side-app-icons a {
  display: table;
  box-shadow: 0 0 6px rgba(255, 255, 255, 0.2);
  margin: 1rem 0;
  border-radius: 0.5rem;
}
.side-navbar .follow-us a {
  color: #fff;
}
.side-navbar .follow-us a:hover {
  color: #000;
}
footer .container h4, footer .container .h4 {
  margin-bottom: 1.5rem;
  font-weight: 700;
}
footer .container .footer-links a {
  color: #fff;
  text-decoration: none;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  display: table;
  font-weight: 300;
  margin: 0.6rem 0;
}
footer .container .footer-links a:hover {
  color: #6C60E1;
}
footer .container .follow-us a {
  color: #fff;
}
footer .footer-copyright p {
  font-weight: 300;
}
.hero-banner {
  position: relative;
}
.hero-banner .hero-caption {
  padding-top: 50px;
  position: absolute;
  height: 100%;
  display: flex;
  align-items: center;
  width: 100%;
}
.hero-banner .hero-caption h1, .hero-banner .hero-caption .h1 {
  font-weight: 700;
}
.hero-banner .hero-caption p {
  font-weight: 300;
  margin: 1rem 0;
  color: #495057;
}
.hero-banner .hero-caption .btn {
  font-weight: 700;
}
@media (max-width: 575.98px) {
  .hero-banner .hero-caption .herobtns .btn {
    margin: 0.5rem 0 !important;
  }
}
.hero-banner .hero-caption .breadcrumb {
  font-weight: 300;
}
