<div class="dash_page-holder">
  <div class="dash_page-holder-inner">
    <div class="container-fluid">
      <h1 class="custom_holder-page-title mb-4 pb-2 mb-col-1 pb-col-0">Dashboard</h1>
      <div class="dash_page-holder-box bg-white">
        <div class="row">
          <div class="col d-flex align-items-center">
            <h4 class="text_size16 text_bold mb-0">Your Earnings</h4>
            <ul class="list-unstyled d-flex align-items-center ms-auto">
              <li>
                <div class="dropdown custom_dropdown-style custom_dropdown-style1">
                  <button class="btn dropdown-toggle" type="button" id="dropdownMenuButtonSort" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span>Sort By: Yearly</span>
                    <svg class="icon icon-filter" width="28" height="19" viewBox="0 0 28 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M11.3754 18.5152H17.3857V15.5101H11.3754V18.5152ZM0.857422 0.484375V3.48951H27.9037V0.484375H0.857422ZM5.36513 11.0024H23.396V7.99722H5.36513V11.0024Z" fill="currentcolor"/>
                    </svg>
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonSort">
                    <a href="#">Lifetime</a>
                    <a href="#">Yearly</a>
                    <a href="#">Monthly</a>
                    <a href="#">Weekly</a>
                  </div>
                </div>
              </li>
              <li class="ml-2">
                <div class="dropdown custom_dropdown-style custom_dropdown-img">
                  <button class="btn" type="button" id="dropdownMenuButtonDownload" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <svg class="icon icon-download" width="16" height="20" viewBox="0 0 16 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M8 0C8.55228 0 9 0.447715 9 1V11.5858L11.2929 9.29289C11.6834 8.90237 12.3166 8.90237 12.7071 9.29289C13.0976 9.68342 13.0976 10.3166 12.7071 10.7071L8.70711 14.7071C8.31658 15.0976 7.68342 15.0976 7.29289 14.7071L3.29289 10.7071C2.90237 10.3166 2.90237 9.68342 3.29289 9.29289C3.68342 8.90237 4.31658 8.90237 4.70711 9.29289L7 11.5858V1C7 0.447715 7.44772 0 8 0ZM1 15C1.55228 15 2 15.4477 2 16V18H14V16C14 15.4477 14.4477 15 15 15C15.5523 15 16 15.4477 16 16V18C16 19.1046 15.1046 20 14 20H2C0.895431 20 0 19.1046 0 18V16C0 15.4477 0.447715 15 1 15Z" fill="currentcolor"/>
                    </svg>
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonDownload">
                    <h6 class="dropdown-header">Export As</h6>
                    <a href="#">Excel</a>
                    <a href="#">CSV</a>
                    <a href="#">PDF</a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <!--Line chart-->
        <div class="row">
          <div class="col-lg-9 col-md-8 d-flex flex-column">
            <div class="d-flex justify-content-end align-items-start pt-2">
              <div id="performance-line-legend"></div>
            </div>
            <div class="chartjs-wrapper mt-5">
              <canvas id="performaneLine"  height="260"></canvas>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 d-flex flex-column custom_brd-left">
            <div class="custom_chart-circle-box">
              <div class="d-flex justify-content-between align-items-center mb-3">
                <h4 class="text_size14 text_bold">Overall Earnings</h4>
              </div>
              <canvas class="my-auto" id="doughnutChart" height="200"></canvas>
              <div id="doughnut-chart-legend" class="mt-3"></div>
            </div>
          </div>
        </div>
        <!--End Line chart-->
        <div class="row">
          <div class="col-md-6 col-xxl-4 pt-4">
            <div class="card h-md-100 custom_card">
              <div class="card-header pb-0 bb-0 bg-white pt-3">
                <h6>One to one</h6>
              </div>
              <div class="card-body pt-0">
                <div class="row">
                  <div class="col-sm-4">
                    <span class="text_small text-green"><i class="fas fa-arrow-up rotate-45 mr-1"></i> +20%</span>
                    <p class="mb-0 text-size-20"><strong>$240</strong></p>
                  </div>
                  <div class="col-sm-8">
                    <div class="status-summary-chart-wrapper">
                      <canvas id="status-summary"></canvas>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-xxl-4 pt-4">
            <div class="card h-md-100 custom_card">
              <div class="card-header pb-0 bb-0 bg-white pt-3">
                <h6>Webinars</h6>
              </div>
              <div class="card-body pt-0">
                <div class="row">
                  <div class="col-sm-4">
                    <span class="text_small text-orange"><i class="fas fa-arrow-up rotate-145 mr-1"></i> -30%</span>
                    <p class="mb-0 text-size-20"><strong>$180</strong></p>
                  </div>
                  <div class="col-sm-8">
                    <div class="status-summary-chart-wrapper">
                      <canvas id="status-summary1"></canvas>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-xxl-4 pt-4">
            <div class="card h-md-100 custom_card">
              <div class="card-header pb-0 bb-0 bg-white pt-3">
                <h6>Videos Courses</h6>
              </div>
              <div class="card-body pt-0">
                <div class="row">
                  <div class="col-sm-4">
                    <span class="text_small text-purple"><i class="fas fa-arrow-up rotate-90 mr-1"></i> ---</span>
                    <p class="mb-0 text-size-20"><strong>$180</strong></p>
                  </div>
                  <div class="col-sm-8">
                    <div class="status-summary-chart-wrapper">
                      <canvas id="status-summary2"></canvas>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
