<div class="media-container">
  <div id="local-media-container"></div>
  <div id="remote-media-container"></div>
</div>

<button id="join-button" (click)="onJoinClick()">Join Room</button>


<p>home works!</p>
