<div class="dashboard_wrapper">
  <div class="d-lg-flex align-items-stretch">
    <div id="dash_sidebar" class="dash_sidebar">
      <button class="custom_toggle-in-out"><i class="fa fa-angle-right"></i></button>
      <div class="sidebar-user text-center text-white">
        <span class="sidebar-user-avtar"><img src="images/placeit-close-up-portrait.png" class="img-fluid rounded-circle" alt="Image"></span>
        <div class="fw-bold shrink_hide-text">Jenny Chain</div>
        <small class="shrink_hide-text">@jerry_chain</small>
      </div>
      <ul class="list-unstyled">
        <li class="sidebar-list-item">
          <a class="sidebar-link active">
            <svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M6.54004 0.427539H3.54004C2.83059 0.427539 2.15019 0.709369 1.64853 1.21103C1.14687 1.71269 0.865039 2.39309 0.865039 3.10254C0.865039 3.81199 1.14687 4.49239 1.64853 4.99405C2.15019 5.49571 2.83059 5.77754 3.54004 5.77754H6.54004C7.24949 5.77754 7.92989 5.49571 8.43155 4.99405C8.93321 4.49239 9.21504 3.81199 9.21504 3.10254C9.21504 2.39309 8.93321 1.71269 8.43155 1.21103C7.92989 0.709369 7.24949 0.427539 6.54004 0.427539ZM6.54004 4.42754H3.54004C3.18863 4.42754 2.85161 4.28794 2.60312 4.03946C2.35464 3.79097 2.21504 3.45395 2.21504 3.10254C2.21504 2.75113 2.35464 2.41411 2.60312 2.16562C2.85161 1.91714 3.18863 1.77754 3.54004 1.77754H6.54004C6.89145 1.77754 7.22847 1.91714 7.47696 2.16562C7.72544 2.41411 7.86504 2.75113 7.86504 3.10254C7.86504 3.45395 7.72544 3.79097 7.47696 4.03946C7.22847 4.28794 6.89145 4.42754 6.54004 4.42754ZM6.54004 7.42754H3.54004C2.83059 7.42754 2.15019 7.70937 1.64853 8.21103C1.14687 8.71269 0.865039 9.39309 0.865039 10.1025V16.1025C0.865039 16.812 1.14687 17.4924 1.64853 17.994C2.15019 18.4957 2.83059 18.7775 3.54004 18.7775H6.54004C7.24949 18.7775 7.92989 18.4957 8.43155 17.994C8.93321 17.4924 9.21504 16.812 9.21504 16.1025V10.1025C9.21504 9.39309 8.93321 8.71269 8.43155 8.21103C7.92989 7.70937 7.24949 7.42754 6.54004 7.42754ZM7.86504 16.1025C7.86504 16.4539 7.72544 16.791 7.47696 17.0395C7.22847 17.2879 6.89145 17.4275 6.54004 17.4275H3.54004C3.18863 17.4275 2.85161 17.2879 2.60312 17.0395C2.35464 16.791 2.21504 16.4539 2.21504 16.1025V10.1025C2.21504 9.75113 2.35464 9.41411 2.60312 9.16562C2.85161 8.91714 3.18863 8.77754 3.54004 8.77754H6.54004C6.89145 8.77754 7.22847 8.91714 7.47696 9.16562C7.72544 9.41411 7.86504 9.75113 7.86504 10.1025V16.1025ZM16.54 13.4275H13.54C12.8306 13.4275 12.1502 13.7094 11.6485 14.211C11.1469 14.7127 10.865 15.3931 10.865 16.1025C10.865 16.812 11.1469 17.4924 11.6485 17.994C12.1502 18.4957 12.8306 18.7775 13.54 18.7775H16.54C17.2495 18.7775 17.9299 18.4957 18.4315 17.994C18.9332 17.4924 19.215 16.812 19.215 16.1025C19.215 15.3931 18.9332 14.7127 18.4315 14.211C17.9299 13.7094 17.2495 13.4275 16.54 13.4275ZM16.54 17.4275H13.54C13.1886 17.4275 12.8516 17.2879 12.6031 17.0395C12.3546 16.791 12.215 16.4539 12.215 16.1025C12.215 15.7511 12.3546 15.4141 12.6031 15.1656C12.8516 14.9171 13.1886 14.7775 13.54 14.7775H16.54C16.8914 14.7775 17.2285 14.9171 17.477 15.1656C17.7254 15.4141 17.865 15.7511 17.865 16.1025C17.865 16.4539 17.7254 16.791 17.477 17.0395C17.2285 17.2879 16.8914 17.4275 16.54 17.4275ZM16.54 0.427539H13.54C12.8306 0.427539 12.1502 0.709369 11.6485 1.21103C11.1469 1.71269 10.865 2.39308 10.865 3.10254V9.10254C10.865 9.81199 11.1469 10.4924 11.6485 10.9941C12.1502 11.4957 12.8306 11.7775 13.54 11.7775H16.54C17.2495 11.7775 17.9299 11.4957 18.4315 10.9941C18.9332 10.4924 19.215 9.81199 19.215 9.10254V3.10254C19.215 2.39309 18.9332 1.71269 18.4315 1.21103C17.9299 0.709369 17.2495 0.427539 16.54 0.427539ZM17.865 9.10254C17.865 9.45395 17.7254 9.79097 17.477 10.0395C17.2285 10.2879 16.8914 10.4275 16.54 10.4275H13.54C13.1886 10.4275 12.8516 10.2879 12.6031 10.0395C12.3546 9.79097 12.215 9.45395 12.215 9.10254V3.10254C12.215 2.75113 12.3546 2.41411 12.6031 2.16562C12.8516 1.91714 13.1886 1.77754 13.54 1.77754H16.54C16.8914 1.77754 17.2285 1.91714 17.477 2.16562C17.7254 2.41411 17.865 2.75113 17.865 3.10254V9.10254Z" fill="currentColor" stroke="currentColor" stroke-width="0.35"/>
            </svg>
            <span class="">Dashboard</span>
          </a>
        </li>
        <li class="sidebar-list-item">
          <a class="sidebar-link">
            <svg width="21" height="19" viewBox="0 0 21 19" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0.0410156 2.34961C0.0410156 1.24504 0.936446 0.349609 2.04102 0.349609H18.041C19.1456 0.349609 20.041 1.24504 20.041 2.34961V13.3496C20.041 14.4542 19.1456 15.3496 18.041 15.3496H13.4552L10.7481 18.0567C10.3576 18.4472 9.72443 18.4472 9.33391 18.0567L6.6268 15.3496H2.04102C0.936446 15.3496 0.0410156 14.4542 0.0410156 13.3496V2.34961ZM18.041 2.34961H2.04102V13.3496H7.04102C7.30623 13.3496 7.56059 13.455 7.74812 13.6425L10.041 15.9354L12.3339 13.6425C12.5214 13.455 12.7758 13.3496 13.041 13.3496H18.041V2.34961Z" fill="white"/>
              <path d="M11.541 7.84961C11.541 8.67804 10.8694 9.34961 10.041 9.34961C9.21259 9.34961 8.54102 8.67804 8.54102 7.84961C8.54102 7.02118 9.21259 6.34961 10.041 6.34961C10.8694 6.34961 11.541 7.02118 11.541 7.84961Z" fill="white"/>
              <path d="M15.541 7.84961C15.541 8.67804 14.8694 9.34961 14.041 9.34961C13.2126 9.34961 12.541 8.67804 12.541 7.84961C12.541 7.02118 13.2126 6.34961 14.041 6.34961C14.8694 6.34961 15.541 7.02118 15.541 7.84961Z" fill="white"/>
              <path d="M7.54102 7.84961C7.54102 8.67804 6.86944 9.34961 6.04102 9.34961C5.21259 9.34961 4.54102 8.67804 4.54102 7.84961C4.54102 7.02118 5.21259 6.34961 6.04102 6.34961C6.86944 6.34961 7.54102 7.02118 7.54102 7.84961Z" fill="white"/>
            </svg>
            <span class="">Messages</span>
          </a>
        </li>
        <li class="sidebar-list-item">
          <a class="sidebar-link">
            <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M8.04102 2.36133C5.83188 2.36133 4.04102 4.15219 4.04102 6.36133C4.04102 8.57047 5.83188 10.3613 8.04102 10.3613C10.2502 10.3613 12.041 8.57047 12.041 6.36133C12.041 4.15219 10.2502 2.36133 8.04102 2.36133ZM2.04102 6.36133C2.04102 3.04762 4.72731 0.361328 8.04102 0.361328C11.3547 0.361328 14.041 3.04762 14.041 6.36133C14.041 9.67504 11.3547 12.3613 8.04102 12.3613C4.72731 12.3613 2.04102 9.67504 2.04102 6.36133ZM14.8694 2.11869C15.26 1.72816 15.8931 1.72816 16.2837 2.11869C18.6268 4.46183 18.6268 8.26082 16.2837 10.604C15.8931 10.9945 15.26 10.9945 14.8694 10.604C14.4789 10.2134 14.4789 9.58028 14.8694 9.18976C16.4315 7.62766 16.4315 5.095 14.8694 3.5329C14.4789 3.14238 14.4789 2.50921 14.8694 2.11869ZM15.5709 15.1188C15.7048 14.583 16.2478 14.2572 16.7836 14.3912C18.1115 14.7232 18.952 15.5723 19.4354 16.5391C19.9032 17.4747 20.041 18.5185 20.041 19.3613C20.041 19.9136 19.5933 20.3613 19.041 20.3613C18.4887 20.3613 18.041 19.9136 18.041 19.3613C18.041 18.7042 17.9288 17.998 17.6466 17.4335C17.38 16.9004 16.9706 16.4995 16.2985 16.3315C15.7627 16.1975 15.4369 15.6546 15.5709 15.1188ZM4.54102 16.3613C3.28156 16.3613 2.04102 17.5749 2.04102 19.3613C2.04102 19.9136 1.5933 20.3613 1.04102 20.3613C0.488731 20.3613 0.0410156 19.9136 0.0410156 19.3613C0.0410156 16.7295 1.93448 14.3613 4.54102 14.3613H11.541C14.1476 14.3613 16.041 16.7295 16.041 19.3613C16.041 19.9136 15.5933 20.3613 15.041 20.3613C14.4887 20.3613 14.041 19.9136 14.041 19.3613C14.041 17.5749 12.8005 16.3613 11.541 16.3613H4.54102Z" fill="white"/>
            </svg>
            <span class="">My Connections</span>
          </a>
        </li>
        <li class="sidebar-list-item">
          <a class="sidebar-link">
            <svg width="21" height="14" viewBox="0 0 21 14" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M19.541 1.1C19.241 0.9 18.841 0.9 18.541 1.1L14.141 4.1V2C14.141 0.9 13.241 0 12.141 0H2.04102C0.941016 0 0.0410156 0.9 0.0410156 2V12C0.0410156 13.1 0.941016 14 2.04102 14H12.041C13.141 14 14.041 13.1 14.041 12V9.9L18.441 12.9C18.641 13 18.841 13.1 19.041 13.1C19.241 13.1 19.341 13.1 19.541 13C19.841 12.8 20.041 12.5 20.041 12.1V2C20.041 1.6 19.841 1.3 19.541 1.1ZM12.041 12H2.04102V2H12.041V6V8V12ZM18.041 10.1L14.041 7.4V6.5L18.041 3.8V10.1Z" fill="white"/>
            </svg>
            <span class="">Schedule</span>
          </a>
        </li>
        <li class="sidebar-list-item">
          <a class="sidebar-link">
            <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M6 0C6.55228 0 7 0.447715 7 1V2H11V1C11 0.447715 11.4477 0 12 0C12.5523 0 13 0.447715 13 1V2H16C17.1046 2 18 2.89543 18 4V17C18 18.1046 17.1046 19 16 19H2C0.895431 19 0 18.1046 0 17V4C0 2.89543 0.895431 2 2 2H5V1C5 0.447715 5.44772 0 6 0ZM5 4H2V7H16V4H13V5C13 5.55228 12.5523 6 12 6C11.4477 6 11 5.55228 11 5V4H7V5C7 5.55228 6.55228 6 6 6C5.44772 6 5 5.55228 5 5V4ZM16 9H2V17H16V9Z" fill="white"/>
            </svg>
            <span class="">Calendar</span>
          </a>
        </li>
        <li class="sidebar-list-item">
          <a class="sidebar-link">
            <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 2.40625C0 1.30168 0.895431 0.40625 2 0.40625H16C17.1046 0.40625 18 1.30168 18 2.40625V16.4062C18 17.5108 17.1046 18.4062 16 18.4062H2C0.895431 18.4062 0 17.5108 0 16.4062V2.40625ZM16 2.40625H2V16.4062H16V2.40625ZM9 4.40625C9.55229 4.40625 10 4.85397 10 5.40625V13.4062C10 13.9585 9.55229 14.4062 9 14.4062C8.44772 14.4062 8 13.9585 8 13.4062V5.40625C8 4.85397 8.44772 4.40625 9 4.40625ZM13 6.40625C13.5523 6.40625 14 6.85397 14 7.40625V13.4062C14 13.9585 13.5523 14.4062 13 14.4062C12.4477 14.4062 12 13.9585 12 13.4062V7.40625C12 6.85397 12.4477 6.40625 13 6.40625ZM5 8.40625C5.55228 8.40625 6 8.85397 6 9.40625V13.4062C6 13.9585 5.55228 14.4062 5 14.4062C4.44772 14.4062 4 13.9585 4 13.4062V9.40625C4 8.85397 4.44772 8.40625 5 8.40625Z" fill="white"/>
            </svg>
            <span class="">Transactions</span>
          </a>
        </li>
        <li class="sidebar-list-item">
          <a class="sidebar-link">
            <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M10.041 2.36182C9.48873 2.36182 9.04102 2.80953 9.04102 3.36182C9.04102 5.05407 6.99501 5.90156 5.7984 4.70495C5.40787 4.31443 4.77471 4.31443 4.38419 4.70495C3.99366 5.09548 3.99366 5.72864 4.38419 6.11917C5.58084 7.31582 4.73324 9.36182 3.04102 9.36182C2.48873 9.36182 2.04102 9.80953 2.04102 10.3618C2.04102 10.9141 2.48873 11.3618 3.04102 11.3618C4.73338 11.3618 5.58066 13.4079 4.38412 14.6045C3.9936 14.995 3.9936 15.6282 4.38412 16.0187C4.77465 16.4092 5.40781 16.4092 5.79833 16.0187C6.99492 14.8221 9.04102 15.6695 9.04102 17.3618C9.04102 17.9141 9.48873 18.3618 10.041 18.3618C10.5933 18.3618 11.041 17.9141 11.041 17.3618C11.041 15.6695 13.0871 14.822 14.2837 16.0187C14.6742 16.4092 15.3074 16.4092 15.6979 16.0187C16.0884 15.6281 16.0884 14.995 15.6979 14.6044C14.5013 13.4079 15.3487 11.3618 17.041 11.3618C17.5933 11.3618 18.041 10.9141 18.041 10.3618C18.041 9.80953 17.5933 9.36182 17.041 9.36182C15.3489 9.36182 14.5011 7.31587 15.6978 6.11918C16.0884 5.72866 16.0884 5.09549 15.6978 4.70497C15.3073 4.31445 14.6741 4.31445 14.2836 4.70497C13.087 5.90161 11.041 5.05401 11.041 3.36182C11.041 2.80953 10.5933 2.36182 10.041 2.36182ZM7.04918 3.13884C7.16326 1.58612 8.45916 0.361816 10.041 0.361816C11.6229 0.361816 12.9188 1.58612 13.0329 3.13885C14.2115 2.12158 15.9935 2.17222 17.112 3.29076C18.2306 4.4093 18.2812 6.19136 17.2639 7.36997C18.8167 7.48402 20.041 8.77994 20.041 10.3618C20.041 11.9437 18.8167 13.2396 17.264 13.3537C18.2813 14.5323 18.2307 16.3143 17.1121 17.4329C15.9936 18.5514 14.2115 18.602 13.0329 17.5847C12.9188 19.1375 11.6229 20.3618 10.041 20.3618C8.45914 20.3618 7.16323 19.1375 7.04917 17.5847C5.87056 18.6021 4.08847 18.5514 2.96991 17.4329C1.85136 16.3143 1.80073 14.5323 2.81804 13.3537C1.26531 13.2396 0.0410156 11.9437 0.0410156 10.3618C0.0410156 8.77994 1.26535 7.48402 2.8181 7.36997C1.8008 6.19136 1.85142 4.40929 2.96997 3.29074C4.08851 2.1722 5.87057 2.12157 7.04918 3.13884Z" fill="white"/>
              <path d="M10.041 8.36182C9.51058 8.36182 9.00187 8.57253 8.6268 8.9476C8.25173 9.32267 8.04102 9.83138 8.04102 10.3618C8.04102 10.8923 8.25173 11.401 8.6268 11.776C9.00187 12.1511 9.51058 12.3618 10.041 12.3618C10.5714 12.3618 11.0802 12.1511 11.4552 11.776C11.8303 11.401 12.041 10.8923 12.041 10.3618C12.041 9.83138 11.8303 9.32267 11.4552 8.9476C11.0802 8.57253 10.5714 8.36182 10.041 8.36182ZM7.21259 7.53339C7.96273 6.78324 8.98015 6.36182 10.041 6.36182C11.1019 6.36182 12.1193 6.78324 12.8694 7.53339C13.6196 8.28354 14.041 9.30095 14.041 10.3618C14.041 11.4227 13.6196 12.4401 12.8694 13.1902C12.1193 13.9404 11.1019 14.3618 10.041 14.3618C8.98015 14.3618 7.96273 13.9404 7.21259 13.1902C6.46244 12.4401 6.04102 11.4227 6.04102 10.3618C6.04102 9.30095 6.46244 8.28354 7.21259 7.53339Z" fill="white"/>
            </svg>
            <span class="">Account Settings</span>
          </a>
        </li>
        <li class="sidebar-list-item">
          <a class="sidebar-link">
            <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M10 2.40625C5.58172 2.40625 2 5.98797 2 10.4062C2 14.8245 5.58172 18.4062 10 18.4062C14.4183 18.4062 18 14.8245 18 10.4062C18 5.98797 14.4183 2.40625 10 2.40625ZM0 10.4062C0 4.8834 4.47715 0.40625 10 0.40625C15.5228 0.40625 20 4.8834 20 10.4062C20 15.9291 15.5228 20.4062 10 20.4062C4.47715 20.4062 0 15.9291 0 10.4062Z" fill="white"/>
              <path d="M10 12.4062C9.44771 12.4062 9 11.9585 9 11.4062V10.4062C9 9.85396 9.44772 9.40625 10 9.40625C10.5523 9.40625 11 9.85396 11 10.4062V11.4062C11 11.9585 10.5523 12.4062 10 12.4062Z" fill="white"/>
              <path d="M8.5 14.9062C8.5 14.0778 9.17157 13.4062 10 13.4062C10.8284 13.4062 11.5 14.0778 11.5 14.9062C11.5 15.7347 10.8284 16.4062 10 16.4062C9.17157 16.4062 8.5 15.7347 8.5 14.9062Z" fill="white"/>
              <path d="M10.3899 6.21762C9.4329 6.17205 8.63039 6.70665 8.48639 7.57065C8.3956 8.11542 7.88037 8.48344 7.3356 8.39265C6.79083 8.30185 6.42281 7.78662 6.51361 7.24185C6.86961 5.10586 8.8171 4.14046 10.4851 4.21988C11.3395 4.26057 12.2176 4.56724 12.8937 5.19903C13.5866 5.84652 14 6.77402 14 7.90625C14 9.19756 13.4919 10.1552 12.6172 10.7383C11.8141 11.2737 10.8295 11.4062 10 11.4062C9.44772 11.4062 9 10.9585 9 10.4062C9 9.85396 9.44772 9.40625 10 9.40625C10.6705 9.40625 11.1859 9.28877 11.5078 9.0742C11.7581 8.90734 12 8.61495 12 7.90625C12 7.28849 11.7884 6.90348 11.5282 6.66035C11.2512 6.40151 10.848 6.23943 10.3899 6.21762Z" fill="white"/>
            </svg>
            <span class="">Support / Help</span>
          </a>
        </li>
        <li class="sidebar-list-item">
          <a class="sidebar-link">
            <svg width="20" height="17" viewBox="0 0 20 17" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M2 3.03975C2.13986 2.98321 2.308 2.92077 2.50288 2.85778C3.19213 2.63499 4.21301 2.40625 5.5 2.40625C6.78699 2.40625 7.80787 2.63499 8.49712 2.85778C8.692 2.92077 8.86014 2.98321 9 3.03975V13.9192C8.14878 13.6548 6.96016 13.4062 5.5 13.4062C4.03984 13.4062 2.85122 13.6548 2 13.9192V3.03975ZM10 1.29153C9.77428 1.19144 9.47653 1.07247 9.11225 0.954723C8.25463 0.677512 7.02551 0.40625 5.5 0.40625C3.97449 0.40625 2.74537 0.677512 1.88775 0.954723C1.45896 1.09332 1.12235 1.23361 0.886892 1.34281C0.769109 1.39744 0.676448 1.44437 0.610019 1.47954C0.576798 1.49714 0.550113 1.5118 0.530103 1.52304L0.505102 1.53725L0.496382 1.54232L0.492972 1.54432L0.491505 1.54518C0.489539 1.54635 0.245103 1.6912 0.490198 1.54596C0.186333 1.72603 0 2.05304 0 2.40625V15.4062C0 15.7655 0.192752 16.0972 0.504925 16.2751C0.816899 16.4529 1.20021 16.4497 1.50921 16.2669C1.50648 16.2684 1.50477 16.2695 1.50477 16.2695L1.50609 16.2687L1.50765 16.2678L1.50921 16.2669C1.51529 16.2635 1.52757 16.2568 1.54599 16.247C1.58283 16.2275 1.64398 16.1963 1.72834 16.1572C1.89718 16.0789 2.15822 15.9692 2.50288 15.8578C3.19213 15.635 4.21301 15.4062 5.5 15.4062C6.78699 15.4062 7.80787 15.635 8.49712 15.8578C8.84178 15.9692 9.10282 16.0789 9.27166 16.1572C9.35602 16.1963 9.41717 16.2275 9.45401 16.247C9.47243 16.2568 9.48474 16.2636 9.49083 16.267C9.49357 16.2685 9.49523 16.2695 9.49523 16.2695M9.49523 16.2695L9.49391 16.2687L9.49235 16.2678L9.49083 16.267C9.80477 16.4525 10.1954 16.4526 10.5092 16.2669C10.5153 16.2635 10.5276 16.2568 10.546 16.247C10.5828 16.2275 10.644 16.1963 10.7283 16.1572C10.8972 16.0789 11.1582 15.9692 11.5029 15.8578C12.1921 15.635 13.213 15.4062 14.5 15.4062C15.787 15.4062 16.8079 15.635 17.4971 15.8578C17.8418 15.9692 18.1028 16.0789 18.2717 16.1572C18.356 16.1963 18.4172 16.2275 18.454 16.247C18.4724 16.2568 18.4847 16.2636 18.4908 16.267L18.4919 16.2675C18.8007 16.4497 19.1835 16.4527 19.4951 16.2751C19.8072 16.0972 20 15.7655 20 15.4062V2.40625C20 2.05304 19.8137 1.72603 19.5098 1.54596L19.5085 1.54518L19.507 1.54432L19.5036 1.54232L19.4949 1.53725L19.4699 1.52304C19.4499 1.5118 19.4232 1.49714 19.39 1.47954C19.3236 1.44437 19.2309 1.39744 19.1131 1.34281C18.8776 1.23361 18.541 1.09332 18.1123 0.954723C17.2546 0.677512 16.0255 0.40625 14.5 0.40625C12.9745 0.40625 11.7454 0.677512 10.8877 0.954723C10.5235 1.07247 10.2257 1.19144 10 1.29153M18 3.03975V13.9192C17.1488 13.6548 15.9602 13.4062 14.5 13.4062C13.0398 13.4062 11.8512 13.6548 11 13.9192V3.03975C11.1399 2.98321 11.308 2.92077 11.5029 2.85778C12.1921 2.63499 13.213 2.40625 14.5 2.40625C15.787 2.40625 16.8079 2.63499 17.4971 2.85778C17.692 2.92077 17.8601 2.98321 18 3.03975ZM18.4908 3.267C18.4935 3.26853 18.4952 3.2695 18.4952 3.2695L18.4939 3.26873L18.4908 3.267ZM18.4908 16.267L18.4941 16.2689L18.4919 16.2675" fill="white"/>
            </svg>
            <span class="">Switch to learn</span>
          </a>
        </li>
        <li class="sidebar-list-item">
          <a class="sidebar-link">
            <svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M8.04102 17.9512C8.04102 17.3989 7.5933 16.9512 7.04102 16.9512H2.04102V2.95117H7.04102C7.5933 2.95117 8.04102 2.50346 8.04102 1.95117C8.04102 1.39889 7.5933 0.951172 7.04102 0.951172H2.04102C0.936446 0.951172 0.0410156 1.8466 0.0410156 2.95117V16.9512C0.0410156 18.0557 0.936446 18.9512 2.04102 18.9512H7.04102C7.5933 18.9512 8.04102 18.5035 8.04102 17.9512Z" fill="white"/>
              <path d="M18.7546 10.6517C18.8473 10.5574 18.9174 10.4492 18.9651 10.334C19.0137 10.2169 19.0406 10.0887 19.041 9.95417L19.041 9.95117L19.041 9.94817C19.0403 9.69325 18.9426 9.43856 18.7481 9.24406L14.7481 5.24407C14.3576 4.85354 13.7244 4.85354 13.3339 5.24407C12.9434 5.63459 12.9434 6.26775 13.3339 6.65828L15.6268 8.95117H6.04102C5.48873 8.95117 5.04102 9.39889 5.04102 9.95117C5.04102 10.5035 5.48873 10.9512 6.04102 10.9512H15.6268L13.3339 13.2441C12.9434 13.6346 12.9434 14.2678 13.3339 14.6583C13.7244 15.0488 14.3576 15.0488 14.7481 14.6583L18.7474 10.659L18.7546 10.6517Z" fill="white"/>
            </svg>
            <span class="">Logout</span>
          </a>
        </li>
      </ul>
    </div>
    <router-outlet> </router-outlet>
  </div>
</div>
